$themeColor : #892723;
$blackColor : #222222;
$blackSecondaryColor : #353535;
$footerlinkColor : #c2c1ca;
$whiteColor : #ffffff;
$headerstrip:rgba(177,51,46,0.85);
$baseFontSize:16;
$fontFamily:'Montserrat', sans-serif;